.wrap {
  @apply hidden fixed z-10 bg-black bg-opacity-90 h-screen w-full pl-32 pt-4 sm:pl-64 sm:pt-40 text-white;
}

.open {
  @apply flex;
}

.item {
  @apply font-sawarabi py-1 sm:py-2;
  transform: translateX(16px);
  transition: transform .3s ease-in, opacity .3s ease;
  opacity: .3;
}

.show {
  transform: translateX(0);
  opacity: 1;
}

.label {
  @apply block text-base sm:text-xl;
}

.labelEn {
  @apply text-secondaly uppercase font-sans tracking-wider;
  font-size: 0.6rem;
}